:root{
    --blue-color-text: #2196F3;
    --font-size-for-mini-text: 14px;
    --text-center: center;
    --grey-text: #757575;
    --white-color: #FFFFFF;
    --font-weight:600;
    --black-color:#212121;
    --inline-display:inline;
    --inline-block-display: inline-block;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--black-color);
    background-color: rgba(255, 255, 255, 1);
    margin: 0 auto;
}
header{
    border: 1px solid rgba(236, 236, 236, 1);
    text-align: var(--text-center);
    padding: 20px;
}
header li{
    list-style-type: none;
    display: var(--inline-display);
}
nav,
ul{
    display: var(--inline-display);
}
header a{
    text-decoration: none;
    color: #000000;
}
.navigation{
margin-left: 6em;
}
.logo{
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 3%;
    display: var(--inline-display);
}
.logo-blue,
.current-page{
    color: var(--blue-color-text);
}
.link-navigation{
    font-weight: var(--font-weight);
    font-size: var(--font-size-for-mini-text);
    padding-right: 6em;
}
.link-navigation:hover,
.contact:hover{
    color: var(--blue-color-text);
}
.link-navigation:focus,
.contact:focus{
    color: var(--blue-color-text);
}
.contact{
    color:var(--grey-text);
    padding-right: 4em;
    font-size: var(--font-size-for-mini-text);
    font-weight: bold;
    line-height: 2;
}
.solve-for-busniness{
    background-color: #2F303A;
    color: var(--white-color);
    padding: 200px;
    
}
.solve-for-busniness h1{
    font-size: 44px;
    word-spacing: 6%;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    
}
.btn-order{
    background-color: var(--blue-color-text);
    color: var(--white-color);
    font-size: 16px;
    font-weight: var(--font-weight);
    letter-spacing: 6%;
    text-align: var(--text-center);
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.our-spesials{
    text-align: center;
}
.our-spesials h3{
    text-transform: uppercase;
}
.our-spesials p{
    font-size: var(--font-size-for-mini-text);
    word-spacing: 3%;
    color: var(--grey-text);
}
.advanteges{
    text-align: start;
}
ul .our-advanteges{
   display: var(--inline-block-display);
   margin: 0 10px;
   width: 270px;
   vertical-align: text-top;
   line-height: 1.5;
}
.what-do-we-do{
    text-align: var(--text-center);
    margin-bottom: 90px;
    margin-top: 90px;
}
.what-do-we-do h2{
    text-align: var(--text-center);
    font-weight: bold;
    font-size: 36px;
    word-spacing: 3%;
    margin-bottom: 50px;
}
.boxes{
    display: var(--inline-display);
    margin: 0 15px;
}
.our-team{
    background-color: #F5F4FA;
    height: 650px;
    text-align: center;
}
.our-team h2{
    padding-bottom: 50px;
    padding-top: 50px;
}
.person{
    display: var(--inline-block-display);
    margin: 15px;
    color: var(--white-color);
    box-shadow: 1px 1px 3px var(--grey-text);
    border-radius: 4px;
    font-size: 16px;
    word-spacing: 3%;
}
.person h3{
    font-weight: 500;
    color: var(--black-color);
}
.person p{
color: var(--grey-text);
padding-bottom: 15px;
}
footer{
    background-color: #2F303A;
    height: 250px;
}
footer a{
    text-decoration: none;
}
.logo-white{
    color: var(--white-color);
}
.adress-studio{
    color: var(--white-color);
    font-size: var(--font-size-for-mini-text);
    word-spacing: 3%;
    line-height: 2;
}
.logo-footer{
    display: block;
    padding: 60px 0 20px 180px;
}
.contact-footer{
    display: block;
    padding: 0;
    margin: auto 180px;
    list-style-type: none;
}
.filter{
    padding-top: 90px;
    text-align: var(--text-center);
    margin-bottom: 30px;
}
.btn-to-navigation{
    list-style-type: none;
}
.btn-to-navigation li{
    display: var(--inline-block-display);
    margin:auto 4px;
}
.btn-to-navigation button{
    font-size: 16px;
    font-weight: var(--font-weight);
    text-align: var(--text-center);
    padding: 8px 15px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
   transition: all 2ms ease-in-out;
   cursor: pointer;
}
.btn-to-navigation button:hover{
    background-color: var(--blue-color-text);
    color: var(--white-color);
}
.all-projects{
    text-align: center;
    padding-bottom: 90px;
}
.all-projects li{
    list-style-type: none;
    display: var(--inline-block-display);
    margin: 15px;
    border: 1px solid #EEEEEE;
}
.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }