:root{
    --blue-color-text: #2196F3;
    --font-size-for-mini-text: 14px;
    --text-center: center;
    --grey-text: #757575;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: rgba(255, 255, 255, 1);
}
header{
    border: 1px solid rgba(236, 236, 236, 1);
    text-align: var(--text-center);
    padding: 20px;
}
header li{
    list-style-type: none;
    display: inline;
}
nav,
ul{
    display: inline;
}
header a{
    text-decoration: none;
    color: #000000;
}
.navigation{
margin-left: 6em;
}
.logo{
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 3%;
    display: inline;
}
.logo-blue,
.current-page{
    color: var(--blue-color-text);
}
.link-navigation{
    font-weight: 600;
    font-size: var(--font-size-for-mini-text);
    padding-right: 6em;
}
.link-navigation:hover,
.contact:hover{
    color: var(--blue-color-text);
}
.contact{
    color:var(--grey-text);
    padding-right: 4em;
    font-size: var(--font-size-for-mini-text);
    font-weight: bold;
    line-height: 2;
}
.solve-for-busniness{
    background-color: #2F303A;
    color: #FFFFFF;
    padding: 200px;
    
}
.solve-for-busniness h1{
    font-size: 44px;
    word-spacing: 6%;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    
}
.btn-order{
    background-color: var(--blue-color-text);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 6%;
    text-align: var(--text-center);
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;

}
.our-spesials{
    text-align: center;
}
.our-spesials h2{
    visibility: hidden;
}
.our-spesials h3{
    text-transform: uppercase;
}
.our-spesials p{
    font-size: var(--font-size-for-mini-text);
    word-spacing: 3%;
    color: var(--grey-text);
}
.advanteges{
    text-align: start;
}
ul .our-advanteges{
   display: inline-block;
   margin: 0 10px;
   width: 270px;
   vertical-align: text-top;
   line-height: 1.5;
}
.what-do-we-do{
    text-align: var(--text-center);
    margin-bottom: 90px;
    margin-top: 90px;
}
.what-do-we-do h2{
    text-align: var(--text-center);
    font-weight: bold;
    font-size: 36px;
    word-spacing: 3%;
    margin-bottom: 50px;
}
.boxes{
    display: inline;
    margin: 0 15px;
}
.our-team{
    background-color: #F5F4FA;
    height: 650px;
    text-align: center;
}
.our-team h2{
    padding-bottom: 50px;
    padding-top: 50px;
}
.person{
    display: inline-block;
    margin: 15px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px var(--grey-text);
    border-radius: 4px;
    font-size: 16px;
    word-spacing: 3%;
}
.person h3{
    font-weight: 500;
}
.person p{
color: var(--grey-text);
padding-bottom: 15px;
}
footer{
    background-color: #2F303A;
    height: 250px;
}
footer a{
    text-decoration: none;
}
.logo-white{
    color: #FFFFFF;
}
.adress-studio{
    color: #FFFFFF;
    font-size: var(--font-size-for-mini-text);
    word-spacing: 3%;
    line-height: 2;
}
.logo-footer{
    display: block;
    padding: 60px 0 20px 180px;
}
.contact-footer{
    display: block;
    padding: 0;
    margin: auto 180px;
    list-style-type: none;
}